# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# PDF uploads
*.pdf

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
